.bordures{
    border : thin solid
}

body{
    height: 100%;
    background: #d4dee2;
}

.flex{
    display : flex
}

.center{
    margin-left: auto;
    margin-right: auto;
}

img{
    width: 100%;
    height: 100%;
}

h2{
    word-wrap: break-word;
}

hr {
    color: #000;
    width: 50%;
    text-align: center;
}

.header {
    text-align: center;

}